@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My name is Cayla Caviris and I am a senior at Ohio University. I am majoring in Management Information Systems and Business Analytics.
    I am from Rostraver Township, Pennsylvania which is 20 miles south of downtown Pittsburgh. I have throughly enjoyed my time here at
    Ohio University. It has been the best 4 years and I couldn't ask for a better college experience. Upon graduation I look to pursue a
    career in an IT development program to figure out what aspects of IT and analytics most interest me.
    </p>
