@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    607 Rosewood Street<br />
    Rostraver Township, PA 15012<br />
    <abbr title="Phone">P:</abbr>
    412.398.4487
</address>

<address>
    <strong>Email Me:</strong>   <a href="mailto:caylacaviris@gmail.com">caylacaviris@gmail.com</a><br />
    
</address>