@{
    ViewBag.Title = "Cayla Caviris's Home Page";
}

<div class="jumbotron">
    <h1>MIS 4200</h1>
    <p class="lead">MIS 4200 is a course at Ohio University in the College of Business and is a prerequisite to graduating for students majoring in Management Informations Systems. The course provides a refresher on systems development techiques before providing students with the experience working on an informations system consulting project using a live client.</p>
    <p><a href="https://business.ohio.edu/academics/undergrad-majors/management-information-systems/undergraduate-degree/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Educational Background <span class="glyphicon glyphicon-education"></span></h2>
        <p>
            I am currently a senior at Ohio University majoring in Management Information Systems and Business Analytics as well as working towards earning a certificate in Supply Chain Management. Throughout my time at Ohio University I have been able to keep an excellent academic record with a cummulative GPA of 3.89 and a major GPA of 4.0. In my last two semesters I plan on continuing to work hard to keep up my academic excellence.
        </p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/academics/undergrad-majors/">Learn more about the majors in the OU COB &raquo;</a></p>
        @Html.ActionLink("Properties", "Index", "Property") <br />
        @Html.ActionLink("Property Renters", "Index", "PropertyRenters") <br />
        @Html.ActionLink("Renters", "Index", "Renters") <br />
        @Html.ActionLink("Owners", "Index", "Owners") <br />
    </div>
    <div class="col-md-4">
        <h2>Clubs and Organizations <span class="glyphicon glyphicon-book"></span></h2>
        <p>
            At Ohio University I am a memeber of many clubs and organizations on campus. I am the Vice-President of Membership Development for my sorority Alpha Xi Delta and a member of Emergings Leaders, ISAP, and Beta Sigma Gamma National Business Honors Society. 
        </p>
        <p><a class="btn btn-default" href="https://www.ohio.edu/involvement/student-organizations">Learn more about the Clubs and Organizations at OU &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Interets and Hobbies <span class="glyphicon glyphicon-globe"></span></h2>
        <p>
            I have many personal interests and hobbies I enjoy in my free time. I love going shopping, going to the Pittsburgh Steelers games, traveling, going boating, and living a healthy lifestyle.
        </p>
        <p><a class="btn btn-default" href="https://www.steelers.com/">Learn more about my favorite sports team &raquo;</a></p>
    </div>
</div>